{% extends "components/main.html" %}
{% block main %}
<form action="{% url 'register'%}" method="post">
    {% csrf_token %}
    <h1>Sign up</h1>
    <label for="name">Enter name</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="surname">Enter surname</label>
    <input type="text" id="surname" name="surname">
    <label for="email">Enter email</label>
    <input type="email" id="email" name="email">
    <label for="password">Enter password</label>
    <input type="password" id="password" name="password">
    <button type="submit">Submit</button>
</form>
{% endblock main %}